/* General styling*/
html, body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: 100%;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    letter-spacing: 1px;
}
#content {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
button {
    border: 0;
    outline: 0;
}

/* Whitespace */
.whitespace {
    height: 20px;
}


/* Text syling */
#text-container {
    width: 500px;
}
#play-wrapper, #one-on-one-wrapper {
    text-align: center;
}

/* Gameplay styling */
#canvas-wrapper {
    position: relative;
    z-index: 4;
    height: 400px;
    background: transparent;
    border-radius: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0;
}
#game-wrapper {
    padding-bottom: 4px;
}


/* Submenus */
#invite-menu {
    display: none;
    font-size: 16px;
}
#join-menu {
    display: none;
}
#game-panel {
    display: none;
}


/* Styling for the play buttons */
#one-on-one, #single-player, #opponent-progress, #join, #invite {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    display: inline-block;
    z-index: 5;
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease 0s;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 700;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
#one-on-one:hover, #single-player:hover, #join:hover, #invite:hover {
    cursor: pointer;
}
#one-on-one-wrapper {
    display: none;
}
#one-on-one, #join {
    margin-right: 7px;
}

#join-menu input {
    background: transparent;
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 3px 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: white;
    width: 100%;
    font-size: 17px;
}

#join-menu input::placeholder {
    color: white;
}
