/* General styling*/
html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
    height: 100%;

    text-align: center;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    
    letter-spacing: 1px;
}
#content {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
button {
    border: 0;
    outline: 0;
}

/* Whitespace */
.whitespace {
    height: 10px;
}


/* Text syling */
#text-container {
    width: 700px;
}
#play-wrapper, #one-on-one-wrapper {
    text-align: center;
}

/* Gameplay styling */
#canvas-wrapper {
    position: relative;
    z-index: 4;
    height: 460px;
    background: black;
    border-radius: 7px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.16), 0 8px 12px rgba(0,0,0,0.23);
    border: 2px solid rgb(70, 70, 70);
    padding: 0;
}
#canvas2-wrapper {
    display: none;
    position: relative;
    z-index: 4;
    height: 460px;
    background: black;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.16), 0 8px 12px rgba(0,0,0,0.23);
    border: 2px solid rgb(70, 70, 70);
    padding: 0;
    margin: 0;
}

#game-wrapper {
    padding-bottom: 4px;
    width: 700px;
}


/* Submenus */
#invite-menu {
    display: none;
    font-size: 17px;
}
.code {
    font-family: "Courier New", Courier, monospace;
    background: rgba(255, 255, 255, 0.2);
}
#join-menu {
    display: none;
    width: 700px;
}
#game-panel {
    display: none;
    font-size: 17px;
}
#score-panel {
    display: none;
    font-size: 17px;
}

.whitespace {
    height: 8px;
}

/* Styling for the play buttons */
#one-on-one, #single-player, #opponent-progress, #join, #invite, #play-again, #play-again-button, #quit-button, #quit {
    background: black;
    color: white;
    display: inline-block;
    z-index: 5;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease 0s;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0,0,0,0.16), 0 6px 10px rgba(0,0,0,0.23);
    font-weight: 700;
    border: 2px solid rgb(70, 70, 70);
}
#one-on-one:hover, #single-player:hover, #join:hover, #invite:hover, #play-again:hover, #play-again-button:hover, #quit-button:hover, #quit:hover {
    cursor: pointer;
}
#one-on-one-wrapper {
    display: none;
}
#one-on-one, #join {
    margin-right: 7px;
}

#join-menu input {
    background: transparent;
    outline: 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: black;
    width: 100%;
    font-size: 17px;
    width: 700px;
}

#join-menu input::placeholder {
    color: black;
}

/* Background text and widgets */
#title {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
}

#share-button {
    width: 35px;
    height: 35px;
    line-height: 35px;

    border-radius: 50%;
    background: black;
    color: white;
    border: 2px solid rgb(70, 70, 70);

    position: absolute;
    bottom: 10px;
    left: 10px;

    box-shadow: 0 8px 12px rgba(0,0,0,0.16), 0 8px 12px rgba(0,0,0,0.23);
}

#share-button i {
    vertical-align: middle;
}

.code {
    font-family: "Courier New", monospace;
}

#title a:visited {
    color: blue;
}

/* DOTS DOTS DOTS DOTS DOTS DOTS (BORROWED FROM https://codepen.io/xwildeyes/pen/KpqVzN) */

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

#amazon-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#amazon-link {
    color: black;
    font-size: 15px;
}

#amazon-link:visited {
    color: black;
}

.dots span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.dots span:nth-child(2) {

    animation-delay: .2s;
}

.dots span:nth-child(3) {

    animation-delay: .4s;
}

.navigation {
    position: absolute;
    top: 5px;
    left: 5px;
}